{% extends "layout.twig.html" %}

{% block content %}
<h2>Bilder fra forestilling/hendelse</h2>

<div class="alert alert-info">
	<strong>OBS: </strong>
	Artikkelbilder lastes opp direkte i innlegget, og så merker du hele innlegget med hvilke innslag det omhandler
</div>

<ol class="unstyled ukmbilder_width">
{% for forestilling in program %}
	<li class="well well-mini">
		<div class="span3 pull-left">
			<strong>{{forestilling.c_name}}</strong>
		</div>
		<div class="span2 pull-left">
			Se / endre opplastede bilder
		</div>
		<div class="span2 pull-left">
			<a href="?page=UKMbilder&action=upload&c_id={{forestilling.c_id}}">Last opp bilder</a>
		</div>
		<div class="clearfix"></div>
	</li>
{% else %}
	<li>
		<div class="alert alert-info">Du har ikke satt opp noe program for din mønstring enda. Dette må gjøres før du kan laste opp bilder</div>
	</li>
{% endfor %}
</ol>
{% endblock %}