{% if (innslag|length) == 0 %}
    <div class="col-xs-6">
        <span>Det er ingen innslag i {{ hendelse.getNavn() }}.</h1>
    </div>
    <script>jQuery('#bilderReservertInfo').addClass('hide-div')</script>
{% endif %}

{% if (innslag|length)/2 > 0.5 %}
    <div class="col-xs-6">
        <ol class="list-group">
            {% for inn in innslag[ :(innslag|length)/2] %}
                {% include "innslagListeElement.html.twig" %}
            {% else %}
                <span>Det er ingen innslag i {{ hendelse.getNavn() }}.</h1>
                <script>jQuery('#bilderReservertInfo').addClass('hide-div')</script>
            {% endfor %}
        </ol>
    </div>
{% endif %}

<div class="col-xs-6">
    <ol class="list-group">
        {% for inn in innslag[ (innslag|length)/2: ] %}
            {% include "innslagListeElement.html.twig" %}
        {% endfor %}
    </ol>
</div>