{% extends "layout.twig.html" %}

{% block content %}
<ol class="unstyled ukmbilder_width">
	{% for innslag in alle_innslag %}
	<li class="well well-mini clickable ett_innslag">
		<div class="header">
			<div class="actions">

				<div class="pull-left details">
					<img src="//ico.ukm.no/sirkel-pluss-256.png" /><br />
					<small>Vis bilder</small>
				</div>

				<div class="pull-left numimages">
					<div class="overunder">
						<div class="over">{{innslag.num_images}}</div>
						<div class="under">bilde{{innslag.num_images == 1 ? '' : 'r'}}</div>
					</div>
				</div>

				<h1>{{innslag.name}}</h1>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="details">
			Vennligst vent, laster detaljer..		
		</div>
		<div class="clearfix"></div>
	</li>
	{% endfor %}
</ol>

{% endblock %}
