{% extends "layout.twig.html" %}

{% block content %}
<h2>1. Last opp bilder</h2>

<div class="container">
    <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" method="POST" enctype="multipart/form-data">
	    <span class="btn btn-success fileinput-button">
	        <i class="glyphicon glyphicon-plus"></i>
	        <span>Velg filer...</span>
	        <input type="file" name="image" multiple>
	    </span>
	    <!-- The global progress bar -->
		<div class="progress progress-striped active" style="display:none;">
		  <div class="bar" id="uploadprogress" style="width: 100%;"></div>
		</div>
    </form>
</div>


<h2>2. Disse bildene må nå knyttes til et innslag</h2>
<p>Marker ett eller flere bilder, og velg innslaget de hører til i listen til høyre.<br />
Du kan filtrere listen ved å bruke nedtrekksmenyen</p>

<div style="width: 800px;">
	<div class="pull-right well well-mini" style="width: 200px; margin-left: 10px;">
		<h5>Filtrer listen</h5>
		<select id="innslag_selector">
			<option value="alpha">Alle registrerte innslag</option>
			<optgroup label="Fra forestilling">
			{% for forestilling in program %}
				<option value="{{forestilling.c_id}}">{{forestilling.c_name}}</option>
			{% else %}
				<option value="false" disabled="disabled">
					Du må sette opp program for mønstringen først
				</option>
			{% endfor %}
			</optgroup>
		</select>
		
		<strong>Velg innslag:</strong>
		
		<ol class="unstyled" id="innslag">
			<li class="alert alert-info" id="innslag_select">Velg innslag fra listen ovenfor</li>
		</ol>
		<button class="btn btn-success" id="tag_selected">Merk valgte bilder</button>
	</div>
	
	<ol class="unstyled" id="tag_images" style="width: 600px;">
	</ol>
</div>





	{# LISTE OVER INNSLAG SOM KAN VELGES #}
	{% embed "handlebars/innslag.handlebars.html" %}{% endembed %}

	{# BILDER SOM SKAL TAGGES #}
	{% embed "handlebars/bilde.handlebars.html" %}{% endembed %}
	
	{# HVIS DET IKKE ER NOEN BILDER #}
	{% embed "handlebars/ingen_bilder.handlebars.html" %}{% endembed %}
{% endblock %}