{% extends "layout.twig.html" %}

{% block content %}
<div style="width: 95%">
    <h2>1. Last opp bilder</h2>
    <p class="lead">
        Last opp bilder fra forestillinger og andre hendelser på din mønstring.
        <br />
        Artikkelbilder som skal brukes i innlegg lastes opp der du skriver innlegget (knappen "legg til media").
    </p>

    <p>
        <b>Manglende foto-tillatelser: </b>
        Hvis noen i et innslag har sagt at de ikke vil at UKM skal ta bilder/film av de, merkes innslaget
        "én eller flere vil ikke fotograferes". Dette skal respekteres, og vi laster ikke opp bilder
        av disse innslagene.

        Lokalkontakten har tilgang til rapporten
        <a href="admin.php?page=UKMrapport_admin&rapport=filmogfoto&kat=personer">film og foto-tillatelser</a>
        hvor du har full oversikt over hvem som har sagt nei.
    </p>

    <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" method="POST" enctype="multipart/form-data">
        
        <div class="clearfix"></div>
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Velg filer...</span>
            <input type="file" name="image" multiple>
        </span>
        <div class="clearfix"></div>
        <!-- The global progress bar -->
        <div class="progress progress-striped active" style="display:none;">
        <div class="bar" id="uploadprogress" style="width: 100%;"></div>
        </div>
    </form>

    <div id="container_ukmbilder_steg2" style="display:none;">
        <h2>2. Disse bildene må nå knyttes til et innslag</h2>
        <p>Marker ett eller flere bilder, og velg innslaget de hører til i listen til høyre.<br />
        Du kan filtrere listen ved å bruke nedtrekksmenyen<br />
        Her angir du også hvem som har tatt bildet</p>
        
        <div style="width: 95%;">
            <div class="pull-right well well-mini" style="width: 300px; margin-left: 10px;">
                <h5>Filtrer listen</h5>
                <select id="innslag_selector">
                    <option value="0">Alle registrerte innslag</option>
                    <optgroup label="Fra forestilling">
                    {% for forestilling in program %}
                        <option value="{{forestilling.c_id}}">{{forestilling.c_name}}</option>
                    {% else %}
                        <option value="false" disabled="disabled">
                            Du må sette opp program for mønstringen først
                        </option>
                    {% endfor %}
                    </optgroup>
                </select>
                
                <br />
                <strong>Velg innslag:</strong>
                
                <ol class="list-group" id="innslag">
                    {% for innslag in alle_innslag %}
                    <li class="list-group-item" id="innslag_{{id}}">
                        <label style="font-weight: normal; margin-bottom: 0px;">
                            <input type="radio" name="innslag" value="{{innslag.getId()}}" />
                            {{innslag.getNavn()}}
                        </label>
                        <br />
                        <div class="clearfix"></div>
                        <div class="small" style="margin-left: 1.7em; margin-top: -.2em;">
                            {{ innslag.getType().getNavn() }}
                            {% if innslag.getSamtykke().harNei() %}
                                <span class="text-danger">
                                    <br />
                                    Én eller flere vil ikke fotograferes
                                </span>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ol>
                <br />
                <strong>Velg fotograf</strong>
                <select id="author">
                    {% for user in users %}
                        <option value="{{user.id}}" {{ user.active ? 'selected="selected"' : ''}}>{{user.name}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-success" id="tag_selected">Merk valgte bilder</button>
            </div>
            
            <ol class="unstyled" id="tag_images" style="width: 600px;">
            </ol>
        </div>
    </div>
</div>
{% endblock %}